<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Salesforce Organization ID</key>
	<string>00DB00000001M9W</string>
	<key>Email</key>
	<string>info@salesforce.com</string>
	<key>Live Agent Pod</key>
	<string>d.la.gus.salesforce.com</string>
	<key>Deployment ID</key>
	<string>0NWB0000000008e</string>
</dict>
</plist>
