<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Custom ViewControllers</key>
	<dict>
		<key>Errors</key>
		<false/>
		<key>Onboarding</key>
		<false/>
		<key>Connecting</key>
		<false/>
		<key>Screen Sharing</key>
		<false/>
	</dict>
	<key>Salesforce Organization ID</key>
	<string>Organization ID (15 Characters)</string>
	<key>Deployment ID</key>
	<string>Deployment ID (15 Characters)</string>
	<key>Live Agent Pod</key>
	<string>Live Agent API EndPoint (ie x.salesforceliveagent.com do not include https://)</string>
</dict>
</plist>
